<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/update/{{p.id}}" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label>Product Name:</label>
        <input type="text" name="pname" value="{{p.pname}}">
    </div><br>

    <div>
        <label>size:</label>
        <input type="text" name="psize" value="{{p.psize}}">
    </div><br>
    <div>
        <label>color:</label>
        <input type="text" name="pcolor" value="p.pcolor">
    </div><br>
    <div>
        <label>About:</label>
        <input type="text" name="pdetail" value="p.pdetail">
    </div><br>
    <div>
        <label>Image:</label>
        <input type="file" name="pimage" value="p.pimage">
    </div><br>

    <button type="submit">UPDATE</button>

</form>

</body>
</html>